page-log-in {

    .content{
        text-align: center;
    }

    .spacer1{
        height:40px;
    }

    .spacer2{
        height:18px;
    }

    .spacer3{
        height:7px;
    }

    .login-logo{
        width:50%;
    }


}
